body {
    background-image: url("../images/floral-retro-70s.png");
}
div.drawcontainer {
    display: inline-block;
    min-width: 950px;
    position: relative;
    right: 20px;
    border: 1px solid red;
}
h1 {
    font-family: 'Londrina Sketch', cursive;
    font-size: 5em;
    color: rgb(12, 48, 43);
    background: rgba(157, 194, 54, 0.5);
    border: 3px solid rgba(41, 158, 143, .5);
    border-radius: 1em;
    font-weight: 400;
    margin: 5px 330px 5px 260px;
    padding-left: 5px; 
    text-align: center;
}
div.sketchzone {
    border: 20px solid rgba(14, 37, 34, 0.7);
    border-radius: 30px;
    background-color: rgba(81, 87, 86, 0.4);
    min-width: 600px;
    min-height: 600px;
    position: relative;
    display: grid;
}
div.controls {
    display: inline-block;
    float: left;
    position: relative;
    width: 350px;
    height: 500px;
    border: 3px solid red;
    margin: 150px 25px 50px 50px;
}